<!DOCTYPE html>
<!--inital setup of template, closing part of template populates automatically-->
<html>
    <head>
        <title>TwitOff! - {{ title }}</title>
    </head>

    <body>
        <h1>TwitOff!</h1>
        <p>Content for TwitOff will go here...</p>

<!--loop over list items that will come from Python, '%' allows basic python,
like for loops and if conitions-->
<!--will display all users present in the database
for user in users, list user.id and user.name-->
        <ul>
            {% for user in users %}
            <li>{{ user.id }} - {{ user.name }}</li>
<!--vvvvv end 'for' loop in html vvvvv-->
            {% endfor  %}
        </ul>
    </body>
</html>