<!DOCTYPE html>
<html>
  <head>
    <title>TwitOff - {{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic"/>
  </head>
  <body>
    <nav>
      <a href="/" class="brand"><span>TwitOff!</span></a>
    </nav>

    <article class="card" style="padding: 3em 1em;">
      {% block content %}
      <div>
        <h1>Users</h1>
        {% for user in users %}
        <a href="/user/{{ user.name }}"><span class="stack">{{ user.name }}</span></a>
        {% endfor %}
        <form action="/user" method="post">
          <input type="text" name="user_name" placeholder="User to add">
          <input type="submit" value="Add User">
        </form>
      </div>
      {% endblock %}
    </article>
  </body>
</html>
